@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.container{
    padding: 0px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 57px;
    align-items: center;
    margin-bottom: 170px;
}

@media screen and (max-width: 768px) {
    .nav-links{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-width: 80px !important;
    }
    .header-wrapper{
        min-height: 190px;
        padding-top: 30px;
        display: flex;
        justify-content: center !important;
        align-items: center;
       }
    nav{
        min-height: 120px;
    }
    .nav-links__item--first{
        padding-left: 42px !important;
    }
    .about-wrapper{
        padding-top: 0px;
    }
}

.nav-links{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.nav-links__item{
    padding-left: 42px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #34547A;
    text-decoration: none;
    border: none;
}

nav{
    max-height: 19px;
}
h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
}
p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

@media screen and (max-width: 576px) {
    p{
        font-size: 16px;
        line-height: 26px;
    }
    .header-wrapper{
        margin-top: 0px;
    }
    .about-wrapper{
        padding-top: 0px;
    }
}

button{
    min-width: 241.85px;
    min-height: 65px;
    background: #34547A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: none;
}
.about-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-text-wrapper{
    padding-left: 140px;
}

@media screen and (max-width: 992px) {
    .ul{
        padding-left: 0px !important;
    }
    .about-wrapper{
        display: flex; 
        align-items: center; 
        flex-direction: column; 
        justify-content: center; 
        padding-top: 0px !important;
    }
    .about-text-wrapper{
        padding-top: 20px; 
        max-width: 540px; 
        text-align: center; 
        padding-left: 0;
    }
    button{
        margin-top: 20px; 
        min-width: 200px; 
        min-height: 55px;
    }
    .nav-links{
        min-width: 650px;
    }
    .nav-links:first-child{
        padding-left: 0px;
    }
    .header-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .nav-links__item--first{
        padding-left: 20px;
    }
}

h1, p, button{
    margin-bottom: 60px;
}
p{
    max-width: 580px;
}
